
@{
    ViewData["Title"] = "WrongBook";
}

<h1>WrongBook</h1>
<h2>Please repeat to input Book</h2>
<hr />  

<div>
    @Html.ActionLink("Back to BookAdd", "BookAdd", "Book") |
    @Html.ActionLink("Back to List", "Index", "Edition")
</div>
