.myBtn {
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border: 1px solid #843ce3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #9115ad;
    color: white;
    box-shadow: 5px 5px 5px #592899;
}

.cntBtn {
    display: flex;
    justify-content: center;
}